@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(-45deg, #928df2, #ee77a5, #9ee2fa, #88f6dc);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.overlay {
  @apply h-0 opacity-0;
  background-color: rgba(0, 0, 0, 0.5);
}

.gallery-item:hover a .overlay {
  @apply h-full opacity-100;
}

#cd-vertical-nav a {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}

#cd-vertical-nav a span {
  @apply inline-block float-right scale-50;
}

#cd-vertical-nav a:hover span {
  @apply scale-100;
}

#cd-vertical-nav .cd-label {
  @apply relative mr-1.5 px-2.5 py-1 text-base text-black bg-white rounded-full transition-all origin-center opacity-0;
}

#cd-vertical-nav a:hover .cd-label {
  @apply opacity-100;
}

#cd-vertical-nav .cd-dot {
  @apply relative top-1 h-6 w-6 rounded-full bg-slate-200 transition-all origin-center;
}

#cd-vertical-nav a.is-selected .cd-dot {
  @apply bg-white;
}