// Converted Variables

// Custom Media Query Variables

/*
   FORMS 
*/

// L2 In Your Inbox Email Submit //  
.input {
  select.selector {
    background-color: $grey85;
    border: 1px solid #999999;
    border-radius: 0;
    outline: none;
    color: $white;
    font-size: $base-font-size;
    z-index: 1;
    max-height: 42px;
    @include appearance(none);

    &::-ms-expand { display: none; }
  }
}

.drop-down-triangle {
  display: inline-block;
  float: right;
  top: 30px;
  z-index: 99;
  margin-right: 15px;
}