// Converted Variables

// Custom Media Query Variables

/*
   COORDINATES

   Base:
     .center

  Media Query Extensions:
    -s = small
    -m = medium
    -l = large
    -xl = extra-large
*/


$center-map: (
  a--abs: (absolute, true, true),
  h--abs: (absolute, true, false),
  v--abs: (absolute, false, true),
  off--abs: (absolute, false, false),
  a--rel: (relative, true, true),
  h--rel: (relative, true, false),
  v--rel: (relative, false, true),
  off--rel: (relative, false, false)
);

@for $index from 1 through length($screen-sizes) {
  @include breakpoints($index) {  
    @each $key, $values in $center-map { 
      $position: nth($values, 1);
      $x: nth($values, 2);
      $y: nth($values, 3);

      .center-#{$key}#{nth($screen-sizes, $index)} { @include center($position, $x, $y); }
    }
  }
}