//  ==========================================================================
//  Base Styles
//  ==========================================================================

// Modules
// -------------------------

%--form-sizing-regression {
  &:not(select) { max-height: calculate-rem(42); }

  $map-vert: (calculate-rem(320): $space-2, calculate-rem(1030): 0.75rem);
  @include poly-fluid-sizing('padding-top', $map-vert);
  @include poly-fluid-sizing('padding-bottom', $map-vert);

  $map-horiz: (calculate-rem(320): $space-3, calculate-rem(1030): $space-4);
  @include poly-fluid-sizing('padding-left', $map-horiz);
  @include poly-fluid-sizing('padding-right', $map-horiz);
}

// Resets
// -------------------------

::-webkit-scrollbar {  display: none;  }

body { 
  margin: 0; 
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch; 

  & * { position: relative; }
}

html,
body { 
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

// Meyer Style Resets on Elements that
// bring a lot of styling
pre,
code,
sub,
sup,
fieldset,
form,
label,
legend,
details,
embed,
menu,
summary,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

// Remove base padding, margin, and font style
// from elements who bring their own
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul,
caption,
dl,
dt,
dd,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul,
li { list-style-type: none; } 
  
// Normalize Patches
// -------------------------

// everything border box
html,
body,
div,
article,
section,
main,
footer,
header,
form,
fieldset,
pre,
code,
p,
ul,
ol,
li,
dl,
dt,
dd,
textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"],
.border-box { 
  outline: none;
  border:none;
  @include box-sizing(border-box); 
}

*,
*:before,
*:after { @include box-sizing(inherit); }


// Ensure we only define type using our default classes.
small,
sub,
sup,
code,
kbd,
pre,
samp { font-size: $base-font-size; }

// Switching from ems to rems for consistency and our own sanity.
sup { top: (-$space-1); }

sub { bottom: -$space-2; }

// We should define fieldset with classes if we're going to define it.
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

// Overriding default iOS input style
select {
  * { @include animate(); }

  border-radius: 0;
  outline: none;
  font-size: $base-font-size;
  color: $white;
  background-color: $grey85;
  border: 1px solid $grey40;
  z-index: 1;
  @include appearance(none);
  @extend %--form-sizing-regression;
}

input:-webkit-autofill, 
textarea:-webkit-autofill, 
select:-webkit-autofill {
  background-color: $white !important;
  color: $grey90 !important;
}

.wrapper {
  padding-top: $space-6;
  padding-bottom: $space-6;
  
  $map: (calculate-rem(320): $space-4, calculate-rem(1030): 5rem);
  @include poly-fluid-sizing('padding-left', $map);
  @include poly-fluid-sizing('padding-right', $map);
}

table { border-collapse: collapse; }

tbody tr td {
  padding: 1rem 0;
  border-bottom: 1px solid $grey60;
}