// Custom Media Query Variables

/*
   LISTS
   http://tachyons.io/docs/elements/lists/
*/

.list {
  list-style-type: none;

  li {
    padding-left: 3.6rem;
    text-indent: -1.8rem;
  }

  li:not(:first-of-type) { padding-top: $space-4; }
  li:not(:last-of-type) { border-bottom: 1px solid $grey05; }
}
