// Converted Variables

// Custom Media Query Variables

/*
  OVERFLOW

  Base:
    .ovr = overflow
    
    Side Extensions:
      -x = overflow-x
      -y = overflow-y

    Modifiers:
      -visible
      -hidden
      -scroll
      -auto

    E.g.:
      .ovr-hidden
      .ovr-x-scroll
      .ovr-y-visible

  Media Query Extensions:
    -s = small
    -m = medium
    -l = large
    -xl = extra-large
 */

$overflow-map: (
  visible: visible,
  hidden: hidden,
  scroll: scroll,
  auto: auto,
);

@for $index from 1 through length($screen-sizes) {
  @include breakpoints($index) {
    @each $key, $value in $overflow-map {
      .ovr--#{$key}#{nth($screen-sizes, $index)} { overflow: $value; }
      .ovr-x--#{$key}#{nth($screen-sizes, $index)} { overflow-x: $value; }
      .ovr-y--#{$key}#{nth($screen-sizes, $index)} { overflow-y: $value; }
    }
  }
}