//  ==========================================================================
//  Typography Base Styles
//  ==========================================================================

body {
  font: {
    // family: $neue-condensed;
    size: $text-5;
  }
}

h1 {
  // font-family: $neue-condensed;

  $map: (calculate-rem(320): $mobile-text-1, calculate-rem(1030): $text-1);
  @include poly-fluid-sizing('font-size', $map);
}

h2 { 
  // font-family: $neue-condensed;

  $map: (calculate-rem(320): $mobile-text-2, calculate-rem(1030): $text-2);
  @include poly-fluid-sizing('font-size', $map);
}

h3 { 
  // font-family: $neue-condensed;

  $map: (calculate-rem(320): $mobile-text-3, calculate-rem(1030): $text-3);
  @include poly-fluid-sizing('font-size', $map);
}

h4 {
  // font-family: $neue-condensed;

  $map: (calculate-rem(320): $mobile-text-4, calculate-rem(1030): $text-4);
  @include poly-fluid-sizing('font-size', $map);
}

h5 { 
  // font-family: $neue-condensed;

  $map: (calculate-rem(320): $mobile-text-5, calculate-rem(1030): $text-5);
  @include poly-fluid-sizing('font-size', $map);
}

h6 { 
  // font-family: $neue-roman;

  $map: (calculate-rem(320): $mobile-text-6, calculate-rem(1030): $text-6);
  @include poly-fluid-sizing('font-size', $map);
  color: $grey60;
}

p {
  // font-family: $neue-roman;

  $map: (calculate-rem(320): $mobile-text-base, calculate-rem(1030): $text-base);
  @include poly-fluid-sizing('font-size', $map);
  color: $grey60;
}

a { cursor: pointer; }

// Typography Emphasis and Styling
strong,
b { font-weight: bold; }

a { 
  text-decoration: none; 
  outline: none;
  color: inherit;
}