button.button {
  font-size: $text-6;
  border: 1px solid $neondemon;
  max-height: 42px;
  cursor: pointer;
  outline: none;
  opacity: 1;
  z-index: 4; 
  @include animate();
  @extend %--form-sizing-regression;

  &--neon { 
    background-color: $neondemon;

    &:hover { @include filter(brightness(110%)); }
  }

  &--transparent { 
    background-color: $transparent; 

    &:hover {
      background-color: $neondemon;  

      h5 { color: white; } 
    }
  }

  h5 { 
    letter-spacing: 0.03rem;
    @include animate();
  }
}
