html {
	background-color: rgb(79, 195, 233);
}

#splash_wrapper {
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(12%);
	-webkit-transform: translateY(12%);
	-moz-transform: translateY(12%);
	-ms-transform: translateY(12%);
}

#name {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: white;
	font-size: 4em;
}

#links div {
	display: inline-block;
	margin: 0 20px;
}

.link {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: white;
	font-size: 2em;
}

img {
	width: 60%;
	margin-bottom: -51%;
}

#contact_info, #contact_info a:link, #contact_info a:active, #contact_info a:visited {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: white;
	font-size: 1.5em;
	text-decoration: none;
	margin: 30px;
}

#contact_info a:hover {
	color: black;
}

#projects {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: white;
	font-size: 2em;
}

#projects div img {
	width: 600px;
	margin-bottom: -30%;
}
