html {
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased; }

body {
  background: url("../images/Galaxy.png") center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 4550px;
  z-index: 0; }

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: white; }

h3 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 2em; }

h4 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 1.5em; }

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 1em;
  text-align: justify; }

li {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white; }

#wrapper {
  position: relative; }

#content {
  z-index: 3;
  position: relative; }

/*=========================*/
/*Right Hand Navigation Bar*/
/*=========================*/
a, a:link, a:active, a:visited {
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -ms-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
  color: white;
  outline: none;
  text-decoration: none; }

a:hover {
  color: yellow; }

nav#primary {
  z-index: 4;
  position: fixed;
  top: 50%;
  right: 16px;
  margin-top: -40px; }
  nav#primary h1 {
    position: absolute;
    right: 22px;
    top: -22px;
    display: none;
    padding: 4px 20px 4px 7px;
    color: black;
    font-size: 1.2em;
    white-space: nowrap;
    background: transparent url("../images/nav-arrow.png") 100% 50% no-repeat; }
  nav#primary li {
    position: relative;
    height: 20px;
    list-style: none; }
  nav#primary a {
    display: block;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    background: transparent url("../images/nav-dot.png") 4px -16px no-repeat; }

nav#primary a:hover, nav#primary a.active {
  background: transparent url("../images/nav-dot.png") 4px 4px no-repeat; }

/*============*/
/*Home Section*/
/*============*/
#home_link {
  position: absolute;
  top: 0px;
  width: 100%; }

#name {
  text-align: center;
  position: relative;
  top: 100%;
  -webkit-transform: translateY(150%);
  -moz-transform: translateY(150%);
  -ms-transform: translateY(150%);
  -o-transform: translateY(150%);
  transform: translateY(150%); }
  #name h1 {
    font-size: 4em; }
  #name h3 {
    margin-top: -48px; }

#down_arrow {
  position: relative;
  top: 100%;
  -webkit-transform: translateY(800%);
  -moz-transform: translateY(800%);
  -ms-transform: translateY(800%);
  -o-transform: translateY(800%);
  transform: translateY(800%);
  margin: 0 auto;
  width: 50px; }
  #down_arrow img {
    width: 50px; }

/*=====================*/
/*Dev Portfolio Section*/
/*=====================*/
#dev_link {
  position: absolute;
  width: 100%;
  top: 1090px; }

#portfolio {
  width: 80%;
  margin: 0 auto; }
  #portfolio h1 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: white;
    font-size: 3em; }
  #portfolio h4 {
    margin-top: -20px; }
  #portfolio div div {
    margin-top: 25px; }
  #portfolio p {
    margin-top: -28px; }
  #portfolio img {
    width: 200px;
    border-radius: 10px;
    margin-top: -15px; }

/*=============*/
/*Design Section*/
/*=============*/
#design_link {
  position: absolute;
  width: 100%;
  top: 1945px; }

#gallery {
  width: 80%;
  margin: 0 auto; }
  #gallery h1 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: white;
    font-size: 3em; }
  #gallery h4 {
    margin: 0 0 15px 0; }
  #gallery p {
    margin-top: -14px; }
  #gallery img {
    width: 200px;
    border-radius: 10px;
    margin-top: -15px; }

#film {
  width: 40%;
  float: left; }
  #film div {
    margin-bottom: 55px; }

/*=============*/
/*About Section*/
/*=============*/
#resume_link {
  position: absolute;
  width: 100%;
  top: 2830px; }

#resume {
  width: 80%;
  margin: 0 auto; }

#col1 {
  width: 29%;
  float: left;
  margin: 20px 20px 0 20px; }
  #col1 ul {
    margin: -28px 0 28px 0; }
  #col1 h4 {
    margin-top: -15px; }
  #col1 li {
    font-size: 1em; }

#col2 {
  width: 29%;
  float: left;
  margin: 20px 20px 0 20px; }
  #col2 a:hover {
    color: yellow; }

#col3 {
  width: 29%;
  float: left;
  margin: 20px 20px 0 20px; }
  #col3 h4 {
    margin-top: -15px; }
  #col3 p {
    margin: -28px 0 28px 0; }

/*===============*/
/*Contact Section*/
/*===============*/
#contact_link {
  position: absolute;
  width: 100%;
  top: 3765px; }

#contact_info {
  position: relative;
  top: 100%;
  -webkit-transform: translateY(75%);
  -moz-transform: translateY(75%);
  -ms-transform: translateY(75%);
  -o-transform: translateY(75%);
  transform: translateY(75%);
  text-align: center; }
  #contact_info p {
    text-align: center; }

#contact_info, #contact_info a:link, #contact_info a:active, #contact_info a:visited {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  margin: 30px; }

#contact_info a:hover {
  color: yellow; }

/*================*/
/*Pixel Background*/
/*================*/
#parallax-bg {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%; }

#parallax-bg2 {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%; }

#bg-1 {
  position: absolute;
  width: 100%;
  margin: -8px 0 0 -8px;
  top: 0px; }

#bg-2 {
  position: absolute;
  width: 100%;
  margin: -8px 0 0 -8px;
  bottom: -4385px; }

#bg2-1 {
  position: absolute;
  width: 100%;
  margin: -8px 0 0 -8px;
  top: -70px; }

#bg2-2 {
  position: absolute;
  width: 100%;
  margin: -8px 0 0 -8px;
  bottom: -3062px; }

/*================*/
/*Media Queries*/
/*================*/
@media only screen and (max-width: 767px) {
  html {
    overflow-x: hidden;
    margin: 0 auto; }

  body {
    background-image: none;
    background-color: #5ab8e4;
    height: 4000px; }

  nav#primary {
    visibility: hidden; }

  #dev_link {
    top: 600px; }

  #design_link {
    top: 1600px; }

  #resume_link {
    top: 2600px; }

  #contact_link {
    top: 3600px; }

  #name {
    position: relative;
    top: 100%;
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -o-transform: translateY(10%);
    transform: translateY(10%); }
    #name h1 {
      font-size: 3em; }
    #name h3 {
      margin-top: -38px; }

  #down_arrow {
    position: relative;
    top: 100%;
    -webkit-transform: translateY(250%);
    -moz-transform: translateY(250%);
    -ms-transform: translateY(250%);
    -o-transform: translateY(250%);
    transform: translateY(250%); }

  #portfolio {
    max-width: 80%; }
    #portfolio p {
      margin-top: -15px; }

  #film {
    width: 80%; }

  #gallery {
    max-width: 80%; }

  #resume {
    display: block;
    max-width: 80%; }

  #col1 {
    width: 86%; }
    #col1 h4 {
      margin-top: 0px; }
    #col1 ul {
      margin: -20px 20px 0 0px; }

  #col2, #col3 {
    visibility: hidden; }

  #contact_info {
    position: relative;
    top: 100%;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    font-size: 1em;
    text-align: center; }

  #parallax-bg img, #parallax-bg2 img {
    visibility: hidden; }

  h1 {
    font-size: 2em; }

  h3 {
    font-size: 1.5em; }

  h4 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 1em; }

  p {
    font-size: 1em; }

  li {
    font-size: 1em; } }
