html { overflow-y: scroll; }

body {
	background: url("../images/Galaxy.png") center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 4550px;
	z-index: 0;
}

#wrapper { position: relative; }

#content {
	z-index: 3;
	position: relative;
}

/*=========================*/
/*Right Hand Navigation Bar*/
/*=========================*/

a, a:link, a:active, a:visited {
	-webkit-transition: color 0.25s ease-out;
	-moz-transition: color 0.25s ease-out;
	-ms-transition: color 0.25s ease-out;
	-o-transition: color 0.25s ease-out;
	transition: color 0.25s ease-out;
	color: white;
	outline: none;
	text-decoration: none;
}

a:hover { color: #000; }

nav#primary {
	z-index: 4;
	position: fixed;
	top: 50%;
	right: 16px;
	margin-top: -40px;
}

nav#primary li {
	position: relative;
	height: 20px;
}

nav#primary a {
	display: block;
	width: 20px;
	height: 20px;
	text-indent: -9999px;
	background: transparent url('../images/nav-dot.png') 4px -16px no-repeat;
}

nav#primary a:hover, nav#primary a.active {
	background: transparent url('../images/nav-dot.png') 4px 4px no-repeat;
}

nav#primary h1 {
	position: absolute;
	right: 22px;
	top: -22px;
	display: none;
	padding: 4px 20px 4px 7px;
	color: black;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 1.2em;
	white-space: nowrap;
	background: transparent url('../images/nav-arrow.png') 100% 50% no-repeat;
}

/*nav#secondary {
	z-index: 15;
	margin-top: 30%;
	margin-left: 29%;
	position: absolute;
}

nav#secondary .stick {
	position: fixed;
	margin-top: 0;
}

nav#secondary ul {
	list-style: none;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 1.5em;
	text-align: center;
}

nav#secondary ul li {
	display: inline;
	margin: 10px;
}*/

/*============*/
/*Home Section*/
/*============*/

#home_link {
	position: absolute;
	top: 0px;
	width: 100%;
}

#name { 
	text-align: center; 
	position: relative;
  top: 100%;
  -webkit-transform: translateY(150%);
  -moz-transform: translateY(150%);
  -ms-transform: translateY(150%);
  -o-transform: translateY(150%);
  transform: translateY(150%);
}

#name h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: white;
	font-size: 4em;
}

#name h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: white;
	font-size: 2em;
	margin-top: -48px;
}

#down_arrow {
	margin: 0 auto;
	width: 50px;
	position: relative;
  top: 100%;
  -webkit-transform: translateY(1010%);
  -moz-transform: translateY(1010%);
  -ms-transform: translateY(1010%);
  -o-transform: translateY(1010%);
  transform: translateY(1010%);
}

#down_arrow img { width: 50px; }

/*=====================*/
/*Dev Portfolio Section*/
/*=====================*/

#dev_link {
	position: absolute;
	top: 1090px;
	width: 100%;
}

#portfolio {
	width: 80%;
	margin: 0 auto;
}

#portfolio img {
	width: 200px;
	border-radius: 10px;
	margin-top: -15px;
}

#portfolio h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: white;
	font-size: 3em;
}

#portfolio h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: white;
	font-size: 2em;
}

#portfolio div div {
	margin-top: 25px;
}

h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: white;
	font-size: 1.5em;
	margin-top: -20px;
}

#portfolio p {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: white;
	font-size: 1em;
	margin-top: -28px;
}

/*=============*/
/*Design Section*/
/*=============*/

#design_link {
	position: absolute;
	top: 1945px;
	width: 100%;
}

#gallery {
	width: 80%;
	margin: 0 auto;
}

#gallery h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: white;
	font-size: 3em;
}

#gallery img {
	width: 200px;
	border-radius: 10px;
	margin-top: -15px;
}

#gallery h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: white;
	font-size: 1.5em;
	margin: 0 0 15px 0;
}

#gallery p {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: white;
	font-size: 1em;
	margin-top: -14px;
}

#film {
	width: 40%;
	float: left;
}

#film div {
	margin-bottom: 55px;
}

/*=============*/
/*About Section*/
/*=============*/

#resume_link {
	position: absolute;
	top: 2830px;
	width: 100%;
}

#resume { 
	width: 80%; 
	margin: 0 auto;
}

#resume h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: white;
	font-size: 2em;
}

#col1, #col2, #col3 { 
	width: 29%;
	float: left;
	margin: 20px 20px 0 20px; 
}

#col1 ul, #col3 p { margin: -28px 0 28px 0; }

#col1 li, #col2 p, #col3 p {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: white;
	font-size: 1em;
	text-align: justify;
}

/*===============*/
/*Contact Section*/
/*===============*/

#contact_link {
	position: absolute;
	top: 3765px;
	width: 100%;
}

#contact_info {
	text-align: center;
	position: relative;
  top: 100%;
  -webkit-transform: translateY(75%);
  -moz-transform: translateY(75%);
  -ms-transform: translateY(75%);
  -o-transform: translateY(75%);
  transform: translateY(75%);
}

#contact_info, #contact_info a:link, #contact_info a:active, #contact_info a:visited {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: white;
	font-size: 1.5em;
	text-decoration: none;
	margin: 30px;
}

#contact_info a:hover {
	color: black;
}

/*================*/
/*Pixel Background*/
/*================*/

#parallax-bg {
	z-index: 2;
	position: fixed;
	top: 0;
	width: 100%;
}

#parallax-bg2 {
	z-index: 1;
	position: fixed;
	top: 0;
	width: 100%;
}

#bg-1  {
	position: absolute;
	width: 100%;
	margin: -8px 0 0 -8px;
	top: 0px;
}

#bg-2 {
	position: absolute;
	width: 100%;
	margin: -8px 0 0 -8px;
	bottom: -3720px;
}

#bg2-1 {
	position: absolute;
	width: 100%;
	margin: -8px 0 0 -8px;
	top: -70px;
}

 #bg2-2 {
 	position: absolute;
	width: 100%;
	margin: -8px 0 0 -8px;
	bottom: -2830px;
 }

@media only screen and (max-device-width : 480px) 






