$font-family: 'Source Sans Pro', helvetica, sans-serif;
$text-color: white;
$hover-color: yellow;
$bg-color: #3ABAE9;

@mixin font-type($font-weight: none) {
  font-family: $font-family;
	font-weight: $font-weight;
	color: $text-color;
}

@mixin vertical-align($translateY: none) {
	position: relative;
  top: 100%;
  -webkit-transform: translateY($translateY);
  -moz-transform: translateY($translateY);
  transform: translateY($translateY);
}

@mixin transition($properties: all, $duration: 0.25s, $easing: ease-out) {
	@if length($properties) > 1 {
		-webkit-transition-property: $properties;
		-moz-transition-property: $properties;
		transition-property: $properties;
		-webkit-transition-duration: $duration;
		-moz-transition-duration: $duration;
		transition-duration: $duration;
		-webkit-transition-timing-function: $easing;
		-moz-transition-timing-function: $easing;
		transition-timing-function: $easing;
	} @else {
		-webkit-transition: $properties $duration $easing;
		-moz-transition: $properties $duration $easing;
		transition: $properties $duration $easing;
	}
}

@font-face {
  font-family: 'Gobold';
  src: url('../fonts/gobold-lite.woff') format('woff'),
       url('../fonts/gobold-lite.ttf') format('truetype');
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: $bg-color;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	height: 4000px;
	z-index: 0;
}

h2, h3, h4 {
	@include font-type(300);
}

p, li {
	@include font-type(400);
}

h1 {
	font-family: "Gobold", helvetica, sans-serif;
	font-size: 3.5em;
	color: white;
	text-align: center;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.5em;
	text-align: center;
}

p {
	font-size: 1em;
}

ul {
	list-style: none;
}

a {
	color: $text-color;
	outline: none;
	text-decoration: none;
}

.wrapper {
	position: relative;
}

.content {
	position: relative;
}

.dot, .dot:link, .dot:active, .dot:visited {
	-webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  trasition: color 0.25s ease-out;
}

.dot:hover { 
	color: $hover-color; 
}

nav#primary {
	z-index: 200;
	position: fixed;
	top: 50%;
	right: 16px;
	margin-top: -40px;

	h3 {
  	position: absolute;
  	right: 22px;
  	top: -22px;
  	display: none;
  	padding: 4px 20px 4px 7px;
  	color: black;
  	font-size: 1.2em;
  	white-space: nowrap;
  	background: transparent url('../images/nav-arrow.png') 100% 50% no-repeat;
  }

	li {
  	position: relative;
  	height: 20px;
  	list-style: none;
  }

  a {
  	display: block;
  	width: 20px;
  	height: 20px;
  	text-indent: -9999px;
  	background: transparent url('../images/nav-dot.png') 4px -16px no-repeat;
  }
}

nav#primary a:hover, nav#primary a.active {
	background: transparent url('../images/nav-dot.png') 4px 4px no-repeat;
}

#home-link {
	position: absolute;
	top: 0;
	width: 100%;
}

.button {
	@include transition;
	border: 1px solid white;
	border-radius: 30px; 
	padding: 5px 10px 10px 10px;
	margin: 0 10px;

	&:hover {
		background-color: rgba(255, 255, 255, 0.2);
		color: $hover-color;
		border-color: $hover-color;
	}
}

.name {
	text-align: center;
	@include vertical-align(100%);

	h2 {
		margin-top: -3%;
	}
}

.contact-info {
	position: relative;
	text-align: center;
}

.arrow-to-dev {
	@include vertical-align(800%);
	margin: 0 auto;
	width: 50px; 
}

#dev-link {
	position: absolute;
	width: 100%;
	top: 1620px;
}

.portfolio {
	text-align: center;
	margin: 0 auto;
	width: 80%;
	margin-top: -35px;
}

.box {
	width: 500px;
	height: 278px;
	position: relative;
	display: inline-block;
	margin: 10px;
	cursor: pointer;

	h3 {
		margin: 0;
		padding: 5px 0 5px 15px;
	}		

	svg {
		position: absolute;
		top: 0;
		left: 0;

		line {
			stroke-width: 4;
			stroke: white;
			fill: none;

			-webkit-transition: all .8s ease-in-out;
			-moz-transition: all .8s ease-in-out;
			transition: all .8s ease-in-out;
		}
	}
}

.box svg line.top, 
.box svg line.bottom {
	stroke-dasharray: 600 400;
}

.box svg line.left, 
.box svg line.right {
	stroke-dasharray: 378 178;
}

.box:hover a {
	color: $hover-color;
}

.box:hover svg line {
	-webkit-transition-delay: 0.1s;
	-moz-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.box:hover svg line.top {
	-webkit-transform: translateX(-1000px);
	-moz-transform: translateX(-1000px);
	transform: translateX(-1000px);
}

.box:hover svg line.bottom {
	-webkit-transform: translateX(1000px);
	-moz-transform: translateX(1000px);
	transform: translateX(1000px);
}

.box:hover svg line.left {
	-webkit-transform: translateY(556px);
	-moz-transform: translateY(556px);
	transform: translateY(556px);
}

.box:hover svg line.right {
	-webkit-transform: translateY(-556px);
	-moz-transform: translateY(-556px);
	transform: translateY(-556px);
}

.black {
	color: black !important;
	background-color: rgba(255, 255, 255, 0.5);
}

.white {
	color: white !important;
	background-color: rgba(0, 0, 0, 0.2);
}

.ssa-info {
	background: url("../images/ssa.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.lambda-info {
	background: url("../images/lambda.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.vitriol-info {
	background: url("../images/vitriol.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.umbra-info {
	background: url("../images/umbra.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.arrow-to-res {
	@include vertical-align(25%);
	margin: 0 auto;
	width: 50px; 
}

#resume-link {
	position: absolute;
	width: 100%;
	top: 3200px;
}

.resume {
	position: relative;
	width: 80%;
	margin: 0 auto;
	margin-top: 10%;
}

.skills {
	@include font-type(300);
	font-size: 1.5em;
	text-align: center; 
}

.arrow-to-top {
	@include vertical-align(8370%);
	margin: 0 auto;
	width: 50px; 
}

.window {
	overflow: hidden;
	position: absolute;
	top: 900px;
	left: -10px;
	width: 100%;
	height: 650px;
	-webkit-perspective: 500px;
	-moz-perspective: 500px;
	perspective: 500px;
	-webkit-perspective-origin: 0 0;
	-moz-perspective-origin: 0 0;
	perspective-origin: 0 0;
}

.space {
	position: absolute;
	left: -15px;
	background: url("../images/galaxy.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	height: 1050px;
	width: 100%;
	z-index: 0;
}

.planet {
	position: absolute;
	top: 1110px;
	left: 12%;
	z-index: 25;

	img {
		height: 400px;
	}
}

.tear {
	position: absolute;
	top: 865px;
	left: -15px;
	background: url("../images/tear.png") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	height: 700px;
	width: 100%;
	z-index: 75;
}

.astronaut {
	position: absolute;
	left: 59.3%;
	top: 1062px;
	z-index: 100;

	img {
		height: 450px;
	}
}

.debris1 {
	position: absolute;
	left: -15px;
	z-index: 50;

	img {
		width: 100%;
	}
}

.window2 {
	overflow: hidden;
	position: absolute;
	top: 2532px;
	left: -10px;
	width: 100%;
	height: 650px;
	-webkit-perspective: 500px;
	-moz-perspective: 500px;
	perspective: 500px;
	-webkit-perspective-origin: 0 0;
	-moz-perspective-origin: 0 0;
	perspective-origin: 0 0;
}

.tear2 {
	position: absolute;
	top: 2500px;
	left: -15px;
	background: url("../images/tear.png") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	height: 700px;
	width: 100%;
	z-index: 75;
}

.planet2 {
	position: absolute;
	top: 70px;
	left: 20%;
	z-index: 25;

	img {
		height: 450px;
	}
}

.debris2 {
	position: absolute;
	left: 30px;
	z-index: 50;

	img {
		width: 100%;
	}
}

.space2 {
	position: absolute;
	left: -15px;
	background: url("../images/galaxy.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	height: 1050px;
	width: 100%;
	z-index: 0;
}

.alien {
	position: absolute;
	left: 8%;
	top: 2662px;
	z-index: 100;

	img {
		height: 400px;
	}
}

@media only screen and (max-width: 1335px) {
	body {
		height: 4500px;
	}

	#resume-link {
		top: 3750px;
	}

	.tear2 {
		top: 3105px;
	}

	.window2 {
		top: 3150px;
	}

	.planet2 {
		img {
			height: 425px;
		}
	}

	.arrow-to-top {
		@include vertical-align(9450%);
	}
}

@media only screen and (max-width: 1050px) {
	.astronaut {
		img {
			height: 400px;
		}
	}

	.planet {
		img {
			height: 350px;
		}
	}

	.planet2 {
		left: 16%;

		img {
			height: 370px;
		}
	}
}

@media only screen and (max-width: 900px) {
	.debris1, .debris2 {
		display: none;
	}

	.planet {
		left: 5%;
	}

	.planet2 {
		left: 4%;
	}
}

@media only screen and (max-width: 650px) {
	.tear, .tear2 {
		left: -30px;
	}

	.window, .window2 {
		left: -6px;
	}

	.astronaut {
		left: 45.5%;

		img {
			height: 280px;
		}
	}

	.planet2 {
		left: -2%;

		img {
			height: 280px;
		}
	}

	.alien {
		img {
			height: 350px;
		}
	}

	svg {
		display: none;
	}

	.box {
		width: 90%;
	}
}

@media only screen and (max-width: 469px) {
	.box {
		h3 {
			font-size: 1.5em;
		}
	}

	.tear, .tear2 {
		left: -15px;
	}

	.window, .window2 {
		left: -4px;
	}

	.planet2 {
		left: -50%;
	}
}

@media only screen and (max-width: 441px) {
	.name {
		h1 {
			font-size: 3em; 
		}

		h2 {
			font-size: 2em;
		}
	}

	.contact-info {
		h3 {
			font-size: 1.5em;
		}
	}

	.button {
		margin: 0 5px;
	}
}





