//  ==========================================================================
//  FONTS
//  ==========================================================================

  @import url("//hello.myfonts.net/count/309b2c");

    
  @font-face {
    font-family: 'HelveticaNeueLTStd-Roman';
    src: url('webfonts/309B2C_0_0.eot');
    src: url('webfonts/309B2C_0_0.eot?#iefix') format('embedded-opentype'),
         url('webfonts/309B2C_0_0.woff2') format('woff2'),
         url('webfonts/309B2C_0_0.woff') format('woff'),
         url('webfonts/309B2C_0_0.ttf') format('truetype');
  }
    
  @font-face {
    font-family: 'HelveticaNeueLT-LightCond';
    src: url('webfonts/309B2C_1_0.eot');
    src: url('webfonts/309B2C_1_0.eot?#iefix') format('embedded-opentype'),
         url('webfonts/309B2C_1_0.woff2') format('woff2'),
         url('webfonts/309B2C_1_0.woff') format('woff'),
         url('webfonts/309B2C_1_0.ttf') format('truetype');
  }
   
  @font-face {
    font-family: 'HelveticaNeueLTStd-Cn';
    src: url('webfonts/309B2C_2_0.eot');
    src: url('webfonts/309B2C_2_0.eot?#iefix') format('embedded-opentype'),
         url('webfonts/309B2C_2_0.woff2') format('woff2'),
         url('webfonts/309B2C_2_0.woff') format('woff'),
         url('webfonts/309B2C_2_0.ttf') format('truetype');
  }

  @font-face {
    font-family: 'l2icons';
    src: url('webfonts/l2icons.eot');
    src: url('webfonts/l2icons.eot?#iefix') format('embedded-opentype'),
         url('webfonts/l2icons.woff') format('woff'),
         url('webfonts/l2icons.ttf') format('truetype'),
         url('webfonts/l2icons.svg?#l2icons') format('svg');
  }

  $roman: 'HelveticaNeueLTStd-Roman';
  $light: 'HelveticaNeueLT-LightCond';
  $neue: 'HelveticaNeueLTStd-Cn';

  [class$="-l2"]:before, 
  [class*="-l2 "]:before {
    font-family: "l2icons";
    font: {
      style: normal;
      weight: normal;
    }
    speak: none;
    display: inline-block;
    text: {
      decoration: inherit;
      transform: none;
      align: center;
    }
    width: 1em;
    margin-right: .2em;
    margin-left: .2em;
    font-variant: normal;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .right-arrow-l2:before { content: '\e823'; } /* '' */
  .left-arrow-l2:before { content: '\e825'; } /* '' */
  .circle-empty-l2:before { content: '\e839'; } /* '' */

  //Default Font Families, Adjustments etc
  $font-family-default: Georgia, "Times New Roman", Times, serif !default;  
  $default-font-size: 14px !default;
  $default-light-height: 18px !default;
