//  ==========================================================================
//  DEFAULTS
//  ==========================================================================
  
  $default-min-width: 980px !default;
  $default-min-height: 768px !default;

//  ==========================================================================
//  COLORS
//  ==========================================================================

  $color-l2-kiwi: #a0cd55;
  $color-l2-lake: #3c94d1;
  $color-l2-violet: #8971b3;
  $color-l2-orange: #f5814c;
  $color-l2-orchid: #bf4498;
  $color-l2-grass: #3fa548;
  $color-l2-cactus: #00b09e;
  $color-l2-banana: #dfc423;
  $color-l2-pomegranate: #e74341;
  $color-l2-clove: #837369;
  $color-l2-strawberry: #ed1870;
  $color-l2-lagoon: #448C97;
  $color-l2-blueberry: #67519D;

  $color-l2-darkergrey: #191a1a;
  $color-l2-darkgrey: #333333;
  $color-l2-medgrey: #4c4d4d;
  $color-l2-lightgrey: #808080;
  $color-l2-lightergrey: #b2b3b3;